<section id="documentation">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Documentation</h2>
                <hr class="light">
				
				<div class="features-box">
					<a href="http://docs.prefabricator.dev" class="btn btn-default btn-xl btn-primary">User Guide</a>
					<hr/>
					<p class="text-muted">Learn how to use Prefabricator with this detailed User Guide</p>
				</div>
				<!--
				<div class="col-lg-4 col-md-4 text-center">
					<div class="features-box">
						<a href="http://docs.prefabricator.io" class="btn btn-default btn-xl btn-primary">User Guide</a>
						<hr/>
						<p class="text-muted">Learn how to use Prefabricator with this detailed User Guide</p>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-4 text-center">
					<div class="features-box">
						<a href="#" class="btn btn-default btn-xl btn-primary">Video Tutorials</a>
						<hr/>
						<p class="text-muted">Watch video tutorials on how to use Prefabricator</p>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-4 text-center">
					<div class="features-box">
						<a href="#" class="btn btn-default btn-xl btn-primary">Samples</a>
						<hr/>
						<p class="text-muted">Download the samples that demonstrate the various features</p>
					</div>
				</div>
				-->
				
            </div>
        </div>
    </div>
</section>
