<section class="bg-primary" id="documentation">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Documentation</h2>
                <hr class="light">
                <p class="text-faded">Read the user guide of watch the video tutorial to get started with Prefabricator!</p>
                <a href="#" class="btn btn-default btn-xl">User Guide</a>
                <a href="#" class="btn btn-default btn-xl">Video Tutorials</a>
            </div>
        </div>
    </div>
</section>
