
<aside class="bg-dark">
	<section id="download">
      <div class="container text-center">
          <div class="download">
            <h2>Download and start using it now!</h2>

            <div class="col-lg-12 col-lg-offset-0 text-center">
			
				<div class="col-lg-6 col-md-6 text-center">
					<div class="features-box">
						<h2 class="section-heading">UE4 Marketplace</h2>
						<hr class="light"/>
						<p>
							Download from the UE4 marketplace (recommended)
						</p>
						<br/>
						<a href="https://www.unrealengine.com/marketplace/prefabricator" target="_blank" class="btn btn-default btn-xl">
							<i class="fa fa-download"></i>
							Marketplace
						</a>
					</div>
				</div>
				
			
				<div class="col-lg-6 col-md-6 text-center">
					<div class="features-box">
						<h2 class="section-heading">Source Code</h2>
						<hr class="light"/>
						<p>
							Grab the source code from github
						</p>
						<br/>
						<a href="https://github.com/coderespawn/prefabricator-ue4" target="_blank" class="btn btn-default btn-xl">
							<i class="fa fa-github"></i>
							Github
						</a>
					</div>
				</div>
			</div>
			
			
          </div>
      </div>
	</section>
</aside>
