<aside class="bg-dark">
	<section id="download">
      <div class="container text-center">
          <div class="download">
              <h2>Download and start using now!</h2>
              <p class="text-faded">(also coming soon to the UE4 marketplace)</p>

			<table align="center" class="download-table">
				<tbody>
				<tr>
					<td align="right"><div class="text-faded">Platform</div></td>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-primary active">
							<input type="radio" name="options" id="option1" autocomplete="off" checked>Windows
						  </label>
						  <label class="btn btn-primary">
							<input type="radio" name="options" id="option2" autocomplete="off">Mac
						  </label>
						</div>
					</td>
				</tr>
				
				<tr>
					<td align="right"><div class="text-faded">Engine</div></td>
					<td>
						<div class="btn-group btn-group-toggle" data-toggle="buttons">
						  <label class="btn btn-primary active">
							<input type="radio" name="options" id="option1" autocomplete="off" checked>4.21
						  </label>
						  <label class="btn btn-primary">
							<input type="radio" name="options" id="option2" autocomplete="off">4.20
						  </label>
						  <label class="btn btn-primary">
							<input type="radio" name="options" id="option3" autocomplete="off">4.19
						  </label>
						</div>
					</td>
				</tr>
				
			</table>
            <a href="#" class="btn btn-default btn-xl">Download Binaries</a>
            <a href="https://github.com/coderespawn/prefabricator-ue4" class="btn btn-default btn-xl">Github</a>
			
          </div>
      </div>
	</section>
</aside>
