<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Prefab Assets</h3>
                    <p class="text-muted">Group actors into a prefab and save them in the content browser. Drag-Drop these asset in the scene to create new prefabs</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Dynamic Prefab Update</h3>
                    <p class="text-muted">Modify a prefab to have the changes automatically reflect on all the existing prefabs in the scene</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Nested Prefabs</h3>
                    <p class="text-muted">Combine existing prefabs to build more complex prefabs</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Smart Selection</h3>
                    <p class="text-muted">Extends the Unreal Editor to make it easy to select the prefab as a single unit and allows smart selection of items inside the prefabs (including nested prefabs)</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Prefab Collections</h3>
                    <p class="text-muted">Group similar prefabs together into a weighted Prefab Collection.  This allows you to randomly select a prefab and add variation to your levels</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Nested Prefab Randomization</h3>
                    <p class="text-muted">Build complex Prefab randomizations with simpler prefab collections</p>
                </div>
            </div>
        </div>
    </div>
</section>
