<section id="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Prefab Assets</h3>
                    <p class="text-muted">Group actors into a prefab asset in the content browser.  Drop them on to the scene and work on it as a single unit</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Dynamic Prefab Update</h3>
                    <p class="text-muted">Modify a prefab to have the changes automatically reflect on all the existing prefabs in the scene</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Nested Prefabs</h3>
                    <p class="text-muted">Combine existing prefabs to build more complex prefabs</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Smart Selection</h3>
                    <p class="text-muted">Extends the Unreal Editor to select the prefab as a single unit and allows smart selection of the items inside the prefabs (including nested prefabs)</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Prefab Collections</h3>
                    <p class="text-muted">Group similar prefabs together into a weighted Prefab Collection.  This allows you to randomly select a prefab and add variation to your levels</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Nested Prefab Randomization</h3>
                    <p class="text-muted">Build complex Prefab randomizations with simpler prefab collections</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Controlled Randomization</h3>
                    <p class="text-muted">Use Seed Linkers to enforce same random selection across multiple prefab instance (e.g. have all the fence prefabs in the scene select the same random fence from the collection)</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Level Randomization</h3>
                    <p class="text-muted">Blueprint functions to randomize all the prefabs in the level</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Runtime Support</h3>
                    <p class="text-muted">Spawn and randomize prefabs in standalone runtime builds using blueprints</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Asynchronous Builds</h3>
                    <p class="text-muted">Avoid framerate drops while spawning large nested prefabs or randomizing entire levels by building them asynchronously over multiple frames</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Open Source</h3>
                    <p class="text-muted">Prefabricator is free and Open Source.  It uses a permissive license (MIT) which allows you to use the code in your commerical projects </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="features-box">
                    <img src="img/placeholder.png" class="img-responsive" alt="">
                    <h3>Support</h3>
                    <p class="text-muted">Prefabricator is actively supported on the Unreal Engine Forums and Discord chat channel</p>
                </div>
            </div>
		
        </div>
    </div>
</section>
