<section id="social">
	<div class="container">
		<div class="row">
		
			<div class="col-lg-2 col-lg-offset-4 text-center">
				<a target="_blank" href="https://github.com/{{ site.github_username }}">
				<i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p class="text-muted">{{ site.github_username }}</p>
				</a>
			</div>
			<div class="col-lg-2 text-center">
				<a target="_blank" href="https://twitter.com/{{ site.twitter_username }}">
					<i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
					<p class="text-muted">{{ site.twitter_username }}</p>
				</a>
			</div>
		</div>
	</div>
</section>