<section id="support" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Support</h2>
                <hr class="light"/>
				<p>
				Prefabricator is actively developed and supported.    You can following along the development progress or reach
				the developers through these channels
				</p>
				
				<div class="col-lg-4 col-md-4 text-center">
					<div class="features-box">
						<a href="#" class="btn btn-default btn-xl">Forum Support</a>
						<hr class="light"/>
						<p>
							Post your queries or follow along the development progress 
							on the Unreal Engine Forums
						</p>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-4 text-center">
					<div class="features-box">
						<a target="_blank" href="{{ site.discord_server }}" class="btn btn-default btn-xl">Discord Chat</a>
						<hr class="light"/>
						<p>Join our discord channel and chat with the developers and the community</p>
					</div>
				</div>
				
				<div class="col-lg-4 col-md-4 text-center">
					<div class="features-box">
						<a href="mailto:{{ site.email }}" class="btn btn-default btn-xl">Email</a>
						<hr class="light"/>
						<p>Email the developer for support</p>
						<p class="text-muted">{{ site.email }}</p>
					</div>
				</div>
            </div>
        </div>
    </div>
</section>